@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin : 0px;
    font-family: "Arimo", sans-serif;
}

.nav-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    color: white;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover{
    color: orange;
}

.logo {
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    color: whitesmoke;
}

.hero { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
}

.hero-text {
    margin-left: 100px;
}

#profile {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid black;
    object-fit: cover;
    margin-right: 200px;
    margin-top: 50px;    
}